@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: Montserrat-Italic;
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}
body,
html {
  font-family: 'Montserrat';
}
h1,
h2,
h3,
h4,
h5 {
  color: #c3160f;
}
body,
html {
  background: #212121;
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body * {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
pre {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 1520px) {
  .container {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .container {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .container {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10000;
  background: #c3160f;
}
@media screen and (min-width: 1520px) {
  .navbar {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .navbar {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .navbar {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.navbar__logo {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 439px) {
  .navbar__logo {
    width: calc(100% / 12 * 4 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .navbar__logo {
    width: calc(100% / 12 * 2 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .navbar__logo {
    width: calc(100% / 12 * 2 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .navbar__logo {
    width: calc(100% / 12 * 2 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .navbar__logo {
    width: calc(100% / 12 * 2 - 60px);
  }
}
.navbar__logo a {
  border: 0;
  transition: 0.6s;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.navbar__logo a:hover {
  filter: grayscale(20);
  transition: 0.6s;
}
.navbar__logo img {
  max-width: 40px;
}
.navbar__nav {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 439px) {
  .navbar__nav {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .navbar__nav {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .navbar__nav {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .navbar__nav {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .navbar__nav {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .navbar__nav {
    flex-direction: column;
  }
}
.navbar__nav ul {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 979px) {
  .navbar__nav ul {
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding-left: 0;
  }
}
.navbar__nav ul li {
  margin: 15px 0;
}
.navbar__nav ul li:nth-last-of-type(1) a {
  margin-right: 0;
}
.navbar__nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: calc(60px / 2);
  transition: 0.6s;
}
@media screen and (max-width: 979px) {
  .navbar__nav ul li a {
    margin-right: auto;
    margin-left: auto;
  }
}
.navbar__nav ul li a:hover {
  transition: 0.6s;
  color: #000;
}
.navbar__nav ul li.selected a {
  color: #000;
}
.navbar__toggle {
  display: none;
}
@media screen and (max-width: 979px) {
  .navbar {
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .navbar__toggle {
    display: flex;
    position: fixed;
    font-size: 0.9em;
    background: #c3160f;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
  }
}
@keyframes langshow {
  0% {
    opacity: 0;
    filter: grayscale(20);
  }
  1% {
    display: flex;
  }
  100% {
    opacity: 100;
    filter: grayscale(0);
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #c3160f;
  max-height: 100vh;
  height: 100vh;
}
@media screen and (min-width: 1520px) {
  .hero {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .hero {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .hero {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.hero-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  align-items: center;
  height: 100vh;
}
.hero-header {
  color: #fff;
}
.hero-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  font-weight: 600;
}
@media screen and (max-width: 439px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .hero-text {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .hero-text {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .hero-text {
    width: calc(100% / 12 * 5 - 60px);
  }
}
.hero-dude {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  max-height: 100vh;
  align-self: flex-end;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 439px) {
  .hero-dude {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .hero-dude {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .hero-dude {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .hero-dude {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .hero-dude {
    width: calc(100% / 12 * 7 - 60px);
  }
}
.hero-dude img {
  max-height: 90vh;
}
@media screen and (max-width: 979px) {
  .hero-dude img {
    max-width: 60vw;
    max-height: auto;
  }
}
@media screen and (max-width: 979px) {
  .hero h1 {
    font-size: 1.7em;
    margin-top: calc(60px);
  }
}
.intro {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
@media screen and (min-width: 1520px) {
  .intro {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .intro {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .intro {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.intro-coins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro-coins img {
  max-width: 100px;
  margin: 0 calc(60px/2) 60px;
}
@media screen and (max-width: 979px) {
  .intro-coins img {
    margin: 15px 10px 20px;
    max-width: 50px;
  }
}
.intro-textwrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: 60px 0;
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 439px) {
  .intro-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .intro-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .intro-text {
    width: calc(100% / 12 * 10 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .intro-text {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .intro-text {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .intro-text {
    font-size: 1.2em;
    padding: calc(60px/3) 0;
  }
}
.about {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #c3160f url('../img/dude-2.png') no-repeat;
  background-position: left center;
  background-size: contain;
}
@media screen and (min-width: 1520px) {
  .about {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .about {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .about {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  justify-content: flex-end;
}
.about-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: 60px calc(60px/4);
  font-size: 2em;
  margin: 25vh 0;
  color: #fff;
  background: #c3160f;
}
@media screen and (max-width: 439px) {
  .about-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .about-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .about-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .about-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .about-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .about-text {
    font-size: 1.2em;
    margin: 15vh 0;
  }
}
.about-text h2 {
  color: #fff;
}
.tokenomics {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #de5449;
}
@media screen and (min-width: 1520px) {
  .tokenomics {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .tokenomics {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.tokenomics-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.tokenomics-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: calc(60px*2) 0;
  font-weight: 600;
}
@media screen and (max-width: 439px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
.tokenomics-text h2 {
  color: #000;
  font-size: 3em;
}
@media screen and (max-width: 979px) {
  .tokenomics-text h2 {
    font-size: 1.8em;
  }
}
.techdeets {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
@media screen and (min-width: 1520px) {
  .techdeets {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .techdeets {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .techdeets {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.techdeets-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.techdeets-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: calc(60px*2) 0;
}
@media screen and (max-width: 439px) {
  .techdeets-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .techdeets-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .techdeets-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .techdeets-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .techdeets-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
.techdeets-text h2 {
  font-size: 3em;
}
@media screen and (max-width: 979px) {
  .techdeets-text h2 {
    font-size: 1.8em;
  }
}
.thesquad {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #c3160f;
}
@media screen and (min-width: 1520px) {
  .thesquad {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .thesquad {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .thesquad {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.thesquad-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.thesquad-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: calc(60px*2) 0;
  color: #fff;
}
@media screen and (max-width: 439px) {
  .thesquad-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .thesquad-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .thesquad-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .thesquad-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .thesquad-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
.thesquad-text h2 {
  font-size: 3em;
  color: #fff;
}
@media screen and (max-width: 979px) {
  .thesquad-text h2 {
    font-size: 1.8em;
  }
}
.roadmap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 1520px) {
  .roadmap {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .roadmap {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .roadmap {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.roadmap-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.roadmap-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: calc(60px*2) 0;
  color: #fff;
}
@media screen and (max-width: 439px) {
  .roadmap-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .roadmap-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .roadmap-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .roadmap-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .roadmap-text {
    width: calc(100% / 12 * 7 - 60px);
  }
}
.roadmap-text__phase {
  margin: calc(60px/2) 0;
}
.roadmap-text__phase:nth-of-type(odd) {
  margin-left: calc(60px/2);
}
.roadmap-text h2 {
  font-size: 3em;
}
@media screen and (max-width: 979px) {
  .roadmap-text h2 {
    font-size: 1.8em;
  }
}
