@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: Montserrat-Italic;
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Bold.ttf) format('truetype');
}
body,
html {
  font-family: 'Montserrat';
}
h1,
h2,
h3,
h4,
h5 {
  color: #D5131B;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 8em;
  line-height: 1em;
}
@media screen and (max-width: 1179px) {
  h2 {
    font-size: 5em;
    line-height: 0.9em;
  }
}
body,
html {
  background: #fff;
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body * {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
pre {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 1520px) {
  .container {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .container {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .container {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.navbar {
  position: absolute;
  right: calc(60px*2);
  top: calc(60px/2);
  background: #000;
  z-index: 100;
  text-align: center;
  border-radius: 100px;
  padding: 15px 30px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  color: #fff;
  font-family: 'Oswald';
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px;
}
@media screen and (max-width: 979px) {
  .navbar {
    display: none;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: radial-gradient(circle, #020024 0%, #2e2f31 0%, #0f1012 100%);
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
@media screen and (min-width: 1520px) {
  .hero {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .hero {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .hero {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.hero-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  height: 100vh;
}
.hero-dudes {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../img/dudetop.png) no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 20;
}
@media screen and (max-width: 979px) {
  .hero-dudes {
    background-size: contain;
    background-position: center top;
  }
}
.hero-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: calc(100vw - 60px);
  height: auto;
  z-index: 15;
  text-align: center;
}
@media screen and (max-width: 979px) {
  .hero-header {
    margin-top: 57vw;
    width: 100%;
    padding: 0 15px;
  }
}
.hero-header__h1 {
  font-size: 18vw;
  color: rgba(255, 255, 255, 0.5);
  margin: calc(60px / 2) auto 0;
  line-height: 18vw;
  display: block;
  position: relative;
}
@media screen and (max-width: 979px) {
  .hero-header__h1 {
    font-size: 20vw;
    color: #fff;
    line-height: 0.7em;
  }
}
.hero-header__slogan {
  color: #a0ff65;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 1.3vw;
  position: absolute;
  top: -8vw;
  left: calc(60px / 2);
}
@media screen and (max-width: 979px) {
  .hero-header__slogan {
    font-size: 5vw;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
.hero-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  font-weight: 600;
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20vh;
  padding: 0 calc(60px * 2);
  color: #fff;
}
@media screen and (max-width: 439px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .hero-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .hero-text {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
}
.hero-text__exchanges {
  order: 3;
}
@media screen and (max-width: 979px) {
  .hero-text__exchanges {
    text-align: center;
  }
}
.hero-text__exchanges ul {
  list-style: none;
  padding: 0;
}
.hero-text__exchanges ul li {
  margin: 5px 0;
}
.hero-text__join {
  order: 2;
}
@media screen and (max-width: 979px) {
  .hero-text__join {
    text-align: center;
  }
}
.hero-text__join h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}
@media screen and (max-width: 979px) {
  .hero-text__join h2 {
    font-size: 1.5em;
    text-align: center;
  }
}
@media screen and (max-width: 979px) {
  .hero-text__join h2 br {
    display: none;
  }
}
.hero-text__join .btn {
  margin: 30px 0 0 0;
}
@media screen and (max-width: 979px) {
  .hero-text__join .btn {
    margin: 20px auto;
  }
}
.hero-text__coin {
  display: none;
  order: 1;
}
@media screen and (max-width: 979px) {
  .hero-text__coin {
    display: block;
    text-align: center;
  }
  .hero-text__coin img {
    width: 138px;
    height: 138px;
    margin: -20px auto 20px;
  }
}
.airdrop {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1520px) {
  .airdrop {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .airdrop {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .airdrop {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.airdrop p {
  color: #fff;
}
.about {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
}
@media screen and (min-width: 1520px) {
  .about {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .about {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .about {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.about-wrapper {
  display: flex;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.about-heading {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  padding: 180px 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 439px) {
  .about-heading {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .about-heading {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .about-heading {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .about-heading {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .about-heading {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .about-heading {
    padding: 30px 0 0 0;
  }
}
.about-heading img {
  width: 100px;
  height: 100px;
  margin: 15px 0 0 20px;
}
@media screen and (max-width: 979px) {
  .about-heading img {
    display: none;
  }
}
.about-text1 {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 439px) {
  .about-text1 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .about-text1 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .about-text1 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .about-text1 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .about-text1 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
.about-text1 p {
  display: block;
  font-size: 1.5em;
}
@media screen and (max-width: 979px) {
  .about-text1 p {
    font-size: 1.2em;
  }
}
.about-img {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .about-img {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .about-img {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .about-img {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .about-img {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .about-img {
    width: calc(100% / 12 * 6 - 60px);
  }
}
.about-img img {
  max-width: 100%;
}
.about-text2 {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .about-text2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .about-text2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .about-text2 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .about-text2 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .about-text2 {
    width: calc(100% / 12 * 5 - 60px);
  }
}
.about-text2 p {
  font-size: 1.5em;
  margin-top: 0;
}
@media screen and (max-width: 979px) {
  .about-text2 p {
    font-size: 1.2em;
  }
}
.howtobuy {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
  justify-content: space-between;
}
@media screen and (min-width: 1520px) {
  .howtobuy {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .howtobuy {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.howtobuy-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.howtobuy h2 {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: block;
}
@media screen and (max-width: 439px) {
  .howtobuy h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .howtobuy h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .howtobuy h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .howtobuy h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
.howtobuy-exchanges {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
@media screen and (max-width: 439px) {
  .howtobuy-exchanges {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .howtobuy-exchanges {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy-exchanges {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .howtobuy-exchanges {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .howtobuy-exchanges {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .howtobuy-exchanges {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.howtobuy-exchanges__exchange {
  margin-right: 30px;
  border: 1px solid #212121;
  border-radius: 100px;
  padding: 10px 20px;
  font-family: 'Oswald';
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (max-width: 979px) {
  .howtobuy-exchanges__exchange {
    margin: calc(60px / 3);
  }
}
.howtobuy-exchanges__exchange div {
  font-size: 1.9em;
  margin-left: 25px;
}
.howtobuy-bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.howtobuy-steps {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .howtobuy-steps {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .howtobuy-steps {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy-steps {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .howtobuy-steps {
    width: calc(100% / 12 * 7 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .howtobuy-steps {
    width: calc(100% / 12 * 6 - 60px);
  }
}
.howtobuy-steps__step {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  background: #F1DDDE;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 300px;
}
@media screen and (max-width: 439px) {
  .howtobuy-steps__step {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .howtobuy-steps__step {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy-steps__step {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .howtobuy-steps__step {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .howtobuy-steps__step {
    width: calc(100% / 12 * 6 - 60px);
  }
}
.howtobuy-steps__wrapper {
  display: flex;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.howtobuy-swap {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  background: #fff;
  border: 2px solid #F1DDDE;
  border-radius: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 439px) {
  .howtobuy-swap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .howtobuy-swap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .howtobuy-swap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .howtobuy-swap {
    width: calc(100% / 12 * 5 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .howtobuy-swap {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .howtobuy-swap {
    padding: 30px 0;
  }
}
.howtobuy-swap__comingsoon {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 60px);
}
.howtobuy-swap__comingsoon h3 {
  z-index: 100;
  color: #D5131B;
  font-size: 3em;
}
.howtobuy-swap__comingsoon iframe {
  width: 100%;
}
.graphcol {
  min-height: 580px;
}
@media screen and (max-width: 979px) {
  .graphcol {
    min-height: 40px;
  }
}
.tokenomics {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #D5131B;
}
@media screen and (min-width: 1520px) {
  .tokenomics {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .tokenomics {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.tokenomics h2 {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  color: #fff;
  display: block;
  margin-top: 80px;
}
@media screen and (max-width: 439px) {
  .tokenomics h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .tokenomics h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .tokenomics h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .tokenomics h2 {
    width: calc(100% / 12 * 12 - 60px);
  }
}
.tokenomics-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.tokenomics-wrapper h2 span {
  display: none;
}
@media screen and (max-width: 979px) {
  .tokenomics-wrapper h2 span {
    display: inline-block;
  }
}
.tokenomics-text {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  color: #fff;
  font-size: 1.5em;
}
@media screen and (max-width: 439px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics-text {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .tokenomics-text {
    width: calc(100% / 12 * 3 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .tokenomics-text {
    width: calc(100% / 12 * 3 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .tokenomics-text {
    font-size: 1.2em;
  }
}
.tokenomics-content {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .tokenomics-content {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .tokenomics-content {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics-content {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .tokenomics-content {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .tokenomics-content {
    width: calc(100% / 12 * 12 - 60px);
  }
}
.tokenomics-content > .row {
  justify-content: space-between;
}
.tokenomics-graph {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 233px;
}
@media screen and (max-width: 439px) {
  .tokenomics-graph {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .tokenomics-graph {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .tokenomics-graph {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .tokenomics-graph {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .tokenomics-graph {
    width: calc(100% / 12 * 8 - 60px);
  }
}
@media screen and (max-width: 979px) {
  .tokenomics-graph {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
}
.tokenomics-graph__line {
  background: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 580px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__line {
    display: none;
  }
}
.tokenomics-graph__filler {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.tokenomics-graph__filler--light {
  background-color: rgba(255, 255, 255, 0.5);
}
.tokenomics-graph__percentage {
  font-size: 4em;
  font-family: 'Oswald';
  margin: auto 0 0 11px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__percentage {
    font-size: 2.8em;
    line-height: 0.5em;
    position: relative;
    margin: 6px 0 0 11px;
  }
}
.tokenomics-graph__percentage span {
  font-size: 0.5em;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__percentage span {
    position: absolute;
    right: -25px;
    top: -8px;
  }
}
.tokenomics-graph__text {
  margin-left: 11px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__text {
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 0px;
  }
}
.tokenomics-graph .graphcontent {
  min-height: 580px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph .graphcontent {
    min-height: 40px;
  }
}
@media screen and (max-width: 979px) {
  .tokenomics-graph .graphcontent {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    width: 100%;
  }
}
.tokenomics-graph__marketing {
  color: rgba(0, 0, 0, 0.5);
}
.tokenomics-graph__marketing .tokenomics-graph__filler {
  height: 350px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__marketing .tokenomics-graph__filler {
    height: 40px;
    width: 133px;
  }
}
.tokenomics-graph__teamrewards {
  color: rgba(255, 255, 255, 0.5);
}
.tokenomics-graph__teamrewards .tokenomics-graph__filler--light {
  height: 350px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__teamrewards .tokenomics-graph__filler--light {
    height: 40px;
    width: 133px;
  }
}
.tokenomics-graph__tate {
  color: rgba(0, 0, 0, 0.5);
}
.tokenomics-graph__tate .tokenomics-graph__filler {
  height: 100px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__tate .tokenomics-graph__filler {
    height: 40px;
    width: 38px;
  }
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__tate .tokenomics-graph__text {
    bottom: -10px;
  }
}
.tokenomics-graph__security {
  color: rgba(255, 255, 255, 0.5);
}
.tokenomics-graph__security .tokenomics-graph__filler--light {
  height: 25px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__security .tokenomics-graph__filler--light {
    height: 40px;
    width: 10px;
  }
}
.tokenomics-graph__exchanges {
  color: rgba(0, 0, 0, 0.5);
}
.tokenomics-graph__exchanges .tokenomics-graph__text {
  margin-bottom: -233px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__exchanges .tokenomics-graph__text {
    margin: 0;
  }
}
.tokenomics-graph__exchanges .tokenomics-graph__filler {
  height: 700px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__exchanges .tokenomics-graph__filler {
    height: 40px;
    width: 256px;
  }
}
.tokenomics-graph__treasury {
  color: rgba(255, 255, 255, 0.5);
}
.tokenomics-graph__treasury .tokenomics-graph__filler--light {
  height: 250px;
}
@media screen and (max-width: 979px) {
  .tokenomics-graph__treasury .tokenomics-graph__filler--light {
    height: 40px;
    width: 96px;
  }
}
.details {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff;
  padding-bottom: 60px;
}
@media screen and (min-width: 1520px) {
  .details {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .details {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .details {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
.details a {
  color: #D5131B;
}
.details h2 {
  margin-top: 80px;
}
.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  justify-content: space-between;
}
.details-techdeets {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .details-techdeets {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .details-techdeets {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .details-techdeets {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .details-techdeets {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .details-techdeets {
    width: calc(100% / 12 * 6 - 60px);
  }
}
.details-techdeets__text {
  font-size: 1.5em;
  position: relative;
  z-index: 1000;
}
.details-thesquad {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
}
@media screen and (max-width: 439px) {
  .details-thesquad {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .details-thesquad {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .details-thesquad {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .details-thesquad {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .details-thesquad {
    width: calc(100% / 12 * 6 - 60px);
  }
}
.details-thesquad__text {
  font-size: 1.5em;
  position: relative;
  z-index: 150;
}
.details-thesquad__members {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
  justify-content: space-between;
}
.details-thesquad__members--container {
  padding: 0 calc(60px/2);
}
.details-thesquad__members--member {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  display: flex;
  flex-direction: column;
  margin: 10px;
}
@media screen and (max-width: 439px) {
  .details-thesquad__members--member {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .details-thesquad__members--member {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .details-thesquad__members--member {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .details-thesquad__members--member {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .details-thesquad__members--member {
    width: calc(100% / 12 * 4 - 60px);
  }
}
.details-thesquad__members--member img {
  display: block;
  width: 120px;
  border-radius: 100%;
  margin: 15px auto;
}
.details-thesquad__members--role {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  margin: 10px 0;
}
.details-thesquad__members--background {
  font-size: 0.7em;
}
.details-roadmap {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  overflow: visible;
}
@media screen and (max-width: 439px) {
  .details-roadmap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .details-roadmap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .details-roadmap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .details-roadmap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .details-roadmap {
    width: calc(100% / 12 * 12 - 60px);
  }
}
.details-roadmap__text {
  font-size: 1.5em;
  position: relative;
  z-index: 150;
}
.details-roadmap h2 {
  position: relative;
  z-index: 20;
}
.details-roadmap__heading {
  position: relative;
  overflow: visible;
  display: inline-block;
}
.details-roadmap__heading img {
  display: block;
  position: absolute;
  z-index: 15;
  right: -272px;
  bottom: -79px;
}
@media screen and (max-width: 979px) {
  .details-roadmap__heading img {
    display: none;
  }
}
.details-roadmap__steps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: calc(60px / -2);
  margin-right: calc(60px / -2);
}
.details-roadmap__steps--step {
  margin-left: calc(60px / 2);
  margin-right: calc(60px / 2);
  background: #F1DDDE;
  border-radius: 20px;
  padding: calc(60px / 2);
  margin-top: calc(60px / 2);
  min-height: 280px;
}
@media screen and (max-width: 439px) {
  .details-roadmap__steps--step {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 440px) {
  .details-roadmap__steps--step {
    width: calc(100% / 12 * 12 - 60px);
  }
}
@media screen and (min-width: 980px) {
  .details-roadmap__steps--step {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (min-width: 1180px) {
  .details-roadmap__steps--step {
    width: calc(100% / 12 * 6 - 60px);
  }
}
@media screen and (min-width: 1380px) {
  .details-roadmap__steps--step {
    width: calc(100% / 12 * 3 - 60px);
  }
}
.details-roadmap__steps--step h3 {
  font-size: 1.9em;
  margin: 0;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 60px 0;
  color: #fff;
  background: #D5131B;
  text-align: center;
}
@media screen and (min-width: 1520px) {
  .footer {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }
}
@media screen and (min-width: 980px) {
  .footer {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
@media screen and (max-width: 979px) {
  .footer {
    padding-left: calc(60px / 2);
    padding-right: calc(60px / 2);
    width: auto;
  }
}
@media screen and (max-width: 979px) {
  .footer {
    padding: calc(60px / 3) 0;
  }
}
.footer h2 {
  color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 979px) {
  .footer h2 {
    margin-bottom: 25px;
  }
}
.footer-text {
  font-size: 1.5em;
}
@media screen and (max-width: 979px) {
  .footer-text {
    font-size: 1.2em;
  }
}
.footer-social a {
  font-family: 'Oswald';
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 45px 30px;
  display: inline-block;
}
@media screen and (max-width: 979px) {
  .footer-social a {
    font-size: 1.4em;
    margin: 10px 5px;
  }
}
.footer-action {
  background: url(../img/4dudes.png) no-repeat;
  background-size: contain;
  background-position: center top;
  min-height: 500px;
}
@media screen and (max-width: 979px) {
  .footer-action {
    min-height: 250px;
    background-position: center bottom;
  }
}
.footer-action a.btn {
  margin: 30px auto 0;
}
@media screen and (max-width: 979px) {
  .footer-action a.btn {
    margin: 0 auto;
  }
}
.footer-disclaimer {
  padding: calc(60px/2) 60px calc(60px/2);
  text-align: center;
}
.btn {
  background: #a0ff65;
  font-family: 'Oswald';
  display: inline-block;
  color: #D5131B;
  border-radius: 100px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4em;
}
@media screen and (max-width: 979px) {
  .crotch1 {
    display: none;
  }
}
